<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="main">
      <div class="brand">
        {{#link-to "application" class="brand-link"}}
          <h1 class="brand-text">Shorty</h1>
        {{/link-to}}
        <p class="brand-subhead">A link-shortener with style.</p>
      </div>

      {{outlet}}
    </div>
  </div>
</div>
