{{input value=url onEvent="enter" action="createShortLink" placeholder="Ex: http://awesome.com"}}

{{#if errors}}
  {{errors.url}}
{{/if}}

<button {{action "createShortLink"}}>Get Shorty</button>

{{outlet}}
